body {
  text-align: center;
  margin-top: 30px;
  font-family: 'Comic Sans MS', 'Trebuchet MS', cursive, sans-serif;
  font-weight: bold;
  background-color: #fff5e4;
  color: #ad6bb6c6;
}
#activityquestion {
  font-size: 50px;
  margin-bottom: 30px;
}
.activity-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  color: #9b3c3c;
  width: 220px;
  text-align: center;
}
.activity-item img {  /* border */
  height: 200px;
  width: 200px;
  border-radius: 15px;
  border: 5px solid #af6aef;
  object-fit: cover;
  padding: 0;
  display: block;
  margin: 0 auto;
}
.activity-item label {
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 10px;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Comic Sans MS', 'Trebuchet MS', cursive, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #701f1f;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}
