body {
  text-align: center;
  margin-top: 30px;
  font-family: 'Comic Sans MS', 'Trebuchet MS', cursive, sans-serif;
  font-weight: bold;
  background-color: #fff5e4;
  color: #ad6bb6c6;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #a95757;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Comic Sans MS', 'Trebuchet MS', cursive, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #723636;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #d844cc;
  color: #ffffff;
  border: 2px solid #c945d0;
}
